# Backend (Java/Maven/Gradle)
backend/target/
backend/.gradle/
backend/build/
*.class

# Frontend (Node/Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# IDE és OS
.idea/
.vscode/
.DS_Store