<div class="container mt-5 mb-5">
    <div class="card shadow-sm">
        <div class="card-header bg-white text-center py-4 border-0">
            <h2 class="text-primary fw-bold">Adminisztrátori Vezérlőpult</h2>
        </div>

        <div class="card-body p-0">
            <ul class="nav nav-pills nav-justified border-bottom" id="mainTab" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active py-3 fw-bold rounded-0" data-bs-toggle="pill"
                        data-bs-target="#schedules">Beosztások</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link py-3 fw-bold rounded-0" data-bs-toggle="pill" data-bs-target="#people"
                        (click)="loadRoles()">Felhasználók</button>
                </li>
            </ul>

            <div class="tab-content p-4">

                <div class="tab-pane fade show active" id="schedules">
                    <ul class="nav nav-tabs nav-justified mb-4" id="scheduleSubTab">
                        <li class="nav-item">
                            <button class="nav-link active fw-semibold" data-bs-toggle="tab"
                                data-bs-target="#doc-assist">Doktor & Asszisztens beosztás</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link fw-semibold" data-bs-toggle="tab" data-bs-target="#nurse-care"
                                (click)="loadCares()">Ápoló
                                & Ellátás beosztás</button>
                        </li>
                    </ul>

                    <div class="tab-content mt-3">
                        <div class="tab-pane fade show active" id="doc-assist">

                            <div class="row g-3 mb-4 align-items-end border p-3 rounded bg-light">
                                <div class="col-md-3 text-start">
                                    <label class="form-label fw-bold small text-muted">Kezdő dátum</label>
                                    <input type="date" class="form-control shadow-sm" [(ngModel)]="startDate"
                                        [min]="minStartDate" [max]="endDate || ''" (change)="works = []">
                                </div>
                                <div class="col-md-5 text-start">
                                    <label class="form-label fw-bold small text-muted">Záró dátum</label>
                                    <div class="d-flex gap-2">
                                        <input type="date" class="form-control shadow-sm" [(ngModel)]="endDate"
                                            [min]="startDate || ''" [max]="maxEndDate" (change)="works = []">
                                        <button
                                            class="btn btn-outline-danger shadow-sm d-flex align-items-center justify-content-center"
                                            (click)="resetField('date-to-date')">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="20px"
                                                viewBox="0 -960 960 960" width="20px" fill="currentColor">
                                                <path
                                                    d="M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-4 text-end">
                                    <button class="btn btn-primary shadow-sm px-4" (click)="loadWorks()">Szűrés</button>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-hover border">
                                    <thead class="table-primary">
                                        <tr>
                                            <th>Munkanap</th>
                                            <th>Doktor Neve</th>
                                            <th>Doktor TAJ</th>
                                            <th>Asszisztens Neve</th>
                                            <th>Asszisztens TAJ</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        @for (work of works; track work.workId) {
                                        <tr>
                                            <td>{{ work.workDay }}</td>
                                            <td class="fw-bold">{{ work.doctor?.lastName }} {{ work.doctor?.firstName}}
                                            </td>
                                            <td>
                                                <span class="badge bg-secondary">{{ work.doctor?.taj }}</span>
                                            </td>
                                            <td>{{ work.assistant?.lastName }} {{work.assistant?.firstName}}</td>
                                            <td>
                                                <span class="badge bg-secondary">{{ work.assistant?.taj }}</span>
                                            </td>
                                        </tr>
                                        } @empty {
                                        <tr>
                                            <td colspan="5" class="text-center text-muted py-4">
                                                Nincs megjeleníthető beosztás a megadott időszakban.
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="nurse-care">
                            <div class="p-5 text-center bg-light border rounded">
                                <div class="table-responsive">
                                    <table class="table table-hover border">
                                        <thead class="table-primary">
                                            <tr>
                                                <th>Beírás napja</th>
                                                <th>Ápoló Neve</th>
                                                <th>Ápoló TAJ</th>
                                                <th>Páciens Neve</th>
                                                <th>Páciens TAJ</th>
                                                <th>Helyszín (Emelet/Szoba)</th>
                                                <th>Ágy</th>
                                            </tr>
                                        </thead>
                                        <tbody class="align-middle">
                                            @for (care of cares; track $index; let i = $index) {
                                            <tr>
                                                <td>
                                                    {{care.entryDay}}
                                                </td>
                                                <td class="fw-bold">
                                                    {{ care.nurse.lastName }} {{ care.nurse.firstName }}
                                                </td>
                                                <td>
                                                    <span class="badge bg-secondary">{{ care.nurse.taj }}</span>
                                                </td>
                                                <td>
                                                    {{ care.patient.lastName }} {{ care.patient.firstName }}
                                                </td>
                                                <td>
                                                    <span class="badge bg-secondary">{{ care.patient.taj }}</span>
                                                </td>
                                                <td>
                                                    {{ care.room.floor }}. emelet / {{ care.room.roomNumber }}. szoba
                                                </td>
                                                <td>
                                                    <span class="badge bg-info text-dark">{{ care.bed.bedNumber }}.
                                                        ágy</span>
                                                </td>
                                            </tr>
                                            } @empty {
                                            <tr>
                                                <td colspan="7" class="text-center text-muted py-4">
                                                    Nincs megjeleníthető ápolási feladat a megadott időszakban.
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="people">
                    <div class="p-4">

                        @if (!showForm) {
                        <div
                            class="row g-3 mb-4 align-items-end border p-3 rounded bg-light shadow-sm animate__animated animate__fadeIn">
                            <div class="col-md-4">
                                <label class="form-label fw-bold small text-muted">Keresés TAJ alapján</label>
                                <input type="text" class="form-control" placeholder="123456789" [(ngModel)]="taj"
                                    (input)="searched=false" pattern="^[0-9]{9}$" maxlength="9" required
                                    #tajSearchRef="ngModel">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label fw-bold small text-muted">Szerepkör szűrő</label>
                                <div class="d-flex gap-2">
                                    <select class="form-select border-primary" name="role" [(ngModel)]="role" required
                                        #roleRef="ngModel" (change)="searched=false">
                                        <option value="" disabled selected>Válassz szerepkört...</option>
                                        @for (r of roles; track r) {
                                        <option [value]="r">{{ this.appService.translateToHU(r) }}</option>
                                        }
                                    </select>
                                    <button class="btn btn-primary" type="button" (click)="searchPerson()"
                                        [disabled]="!role || tajSearchRef.invalid">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                            width="24px" fill="currentColor">
                                            <path
                                                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-4 text-end">
                                @if (!searched) {
                                <button class="btn btn-success d-flex align-items-center gap-2 ms-auto"
                                    (click)="resetField('add-person')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                    </svg>
                                    Új felhasználó hozzáadása
                                </button>
                                }
                            </div>
                        </div>
                        }
                        @if (!showForm && searched) {
                        <div class="card shadow-sm border-0 mb-4 animate__animated animate__fadeIn">
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-hover align-middle mb-0">
                                        <thead class="bg-light">
                                            <tr>
                                                <th class="ps-3">TAJ</th>
                                                <th>Vezetéknév</th>
                                                <th>Keresztnév</th>
                                                <th>Szerepkör</th>
                                                <th class="text-end pe-3">Műveletek</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="ps-3 fw-bold">{{ taj }}</td>
                                                <td>{{ lastName }}</td>
                                                <td>{{ firstName }}</td>
                                                <td>
                                                    <span class="badge bg-info text-dark">
                                                        {{ this.appService.translateToHU(role) }}
                                                    </span>
                                                </td>
                                                <td class="text-end pe-3">
                                                    <div class="btn-group btn-group-sm">
                                                        <button class="btn btn-outline-success" (click)="modifyRole()"
                                                            title="Szerepkör módosítása">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-pencil"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                                            </svg>
                                                            Szerepkör hozzáadás
                                                        </button>

                                                        <button class="btn btn-outline-danger" (click)="deletePerson()"
                                                            title="Törlés">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-trash"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                                <path
                                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                            </svg>
                                                            Törlés
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    @if (!showForm && searched && showGrantForm) {
                                    <div class="card border-success mb-4 shadow-sm animate__animated animate__fadeInUp">
                                        <div class="card-header bg-success text-white">
                                            <h6 class="mb-0">Új jogosultság hozzáadása: {{lastName}} {{firstName}}</h6>
                                        </div>
                                        <div class="card-body">
                                            <form #grantForm="ngForm">
                                                <div class="row g-3 align-items-end">
                                                    <div class="col-md-4">
                                                        <label class="form-label fw-bold">Új szerepkör</label>
                                                        <select class="form-select border-success" name="grantRole"
                                                            [(ngModel)]="grantRole" required>
                                                            <option value="" hidden disabled selected>Válassz...
                                                            </option>
                                                            @for (r of roles; track r) {
                                                            @if (r !== role) {
                                                            <option [value]="r">{{ this.appService.translateToHU(r) }}
                                                            </option>
                                                            }
                                                            }
                                                        </select>
                                                    </div>

                                                    @if (grantRole === 'NURSE' || grantRole === 'ASSISTANT' || grantRole
                                                    === 'DOCTOR') {
                                                    <div class="col-md-2">
                                                        <label class="form-label small">Munkaidő kezdete</label>
                                                        <input type="time" class="form-control" name="gStart"
                                                            [(ngModel)]="workHourStart" required>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="form-label small">Munkaidő vége</label>
                                                        <input type="time" class="form-control" name="gEnd"
                                                            [(ngModel)]="workHourEnd" required>
                                                    </div>
                                                    }

                                                    @if (grantRole === 'DOCTOR') {
                                                    <div class="col-md-4">
                                                        <label class="form-label small">Specializáció</label>
                                                        <input type="text" class="form-control" name="gSpecialty"
                                                            [(ngModel)]="specialty" required placeholder="pl. Sebész">
                                                    </div>
                                                    }

                                                    <div class="col text-end">
                                                        <button type="button" class="btn btn-light me-2"
                                                            (click)="showGrantForm = false">Mégse</button>
                                                        <button type="submit" class="btn btn-success"
                                                            [disabled]="grantForm.invalid" (click)="onGrantRole()">
                                                            Jogosultság mentése
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        }

                        @if (showForm) {
                        <div class="card border-primary mb-4 shadow-sm animate__animated animate__fadeIn">
                            <div class="card-header bg-primary text-white">
                                <h5 class="mb-0">Új felhasználó rögzítése</h5>
                            </div>
                            <div class="card-body">
                                <form class="row g-3" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">Vezetéknév</label>
                                        <input type="text" class="form-control" name="lastName" [(ngModel)]="lastName"
                                            required #lnRef="ngModel">
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">Keresztnév</label>
                                        <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName"
                                            required #fnRef="ngModel">
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">Életkor</label>
                                        <input type="number" class="form-control" name="age" [(ngModel)]="age" required
                                            min="0" #ageRef="ngModel">
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">TAJ szám</label>
                                        <input type="text" class="form-control" name="taj" [(ngModel)]="taj" required
                                            pattern="^[0-9]{9}$" maxlength="9" placeholder="123456789" #tajRef="ngModel">
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">Email</label>
                                        <input type="email" class="form-control" name="email" [(ngModel)]="email"
                                            required email #emailRef="ngModel">
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label fw-bold">Szerepkör</label>
                                        <select class="form-select border-primary" name="role" [(ngModel)]="role"
                                            required #roleRef="ngModel">
                                            <option value="" disabled selected>Válassz szerepkört...</option>
                                            @for (r of roles; track r) {
                                            <option [value]="r">{{ this.appService.translateToHU(r) }}</option>
                                            }
                                        </select>
                                    </div>

                                    @if (role === 'DOCTOR' || role === 'NURSE' || role === 'ASSISTANT') {
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold text-primary">Munkaidő kezdete</label>
                                        <input type="time" class="form-control" name="workHourStart"
                                            [(ngModel)]="workHourStart" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold text-primary">Munkaidő vége</label>
                                        <input type="time" class="form-control" name="workHourEnd"
                                            [(ngModel)]="workHourEnd" required>
                                    </div>
                                    }

                                    @if (role === 'DOCTOR') {
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold text-primary">Specializáció</label>
                                        <select class="form-select border-primary" name="specialty"
                                            [(ngModel)]="specialty" required #specialtyRef="ngModel">

                                            <option value="" hidden disabled selected>Válassz specializációt...</option>

                                            @for (s of specialties; track s) {
                                            <option [value]="s">{{ s }}</option>
                                            }
                                        </select>
                                    </div>
                                    }

                                    <div class="col-12 text-end mt-4">
                                        <button type="button" class="btn btn-secondary me-2"
                                            (click)="resetField('cancel-add')">Mégse</button>
                                        <button type="submit" class="btn btn-primary px-5 shadow"
                                            [disabled]="userForm.invalid">
                                            Mentés
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>